# Bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Log files
*.log

# Env files (jika kamu pakai)
.env
